.filters-container {
  height: 100vh;
  padding: 1rem;
  width: 240px;

  h3 {
    margin-bottom: 0.5rem;
  }

  section {
    margin: 0.5rem 0;

    h4 {
      margin-bottom: 0.5rem;
    }

    strong {
      font-size: 0.875rem;
    }
  }

  .price-slider {
    width: 100%;
    margin: 0;
  }

  .checkbox-options {
    display: flex;
    flex-direction: column;
  }
}
