/* You can add global styles to this file, and also import other style files */
@use "./assets/styles" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: sans-serif, Roboto, "Helvetica Neue";
}

.main {
  @include flex(column);
  height: 100%;
}
